:root {
  --bg-color: #373232;
  --dark-accent: #241C1C;
  --light-accent: #2D2626;
  --text-light: #FFFFFF;
  --text-dark: #AFABAA;
}

html, body {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  color: var(--text-dark);
  font-family: "Inter";
}

.App {
  text-align: left;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.topBar {
  background-color: var(--light-accent);
  min-height: 70px;
  height: 5vh;
  width: 100%;
}

.routePanel {
  margin: 30px;
  max-width: 90%;
  width: 80%;
  display: flex;
  align-items: flex-start;
}

h1 {
  font-weight: bold;
  color: var(--text-light);
  font-size: 50px;
  margin: 0px;
}

h2 {
  font-weight: bold;
  color: var(--text-light);
  font-size: 25px;
}

h3 {
  color: var(--text-light);
  margin: 0px;
}

h4 {
  margin: 0px;
  font-weight: normal;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--text-light);
}

p {
  text-align: left;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  background-color: var(--light-accent);
  color: var(--text-light);
  width: calc(100% - 40px);
  padding: 5px 20px;
  border-radius: 10px;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  color: var(--text-dark);
}
